/* CSS Style sheet for font formatting 8?

/*  Must include:
    font-family
    font-size
    font-weight
    font-style
    text-transform
    line-height
    letter-spacing or word-spacing
    text-align or text-indent */
    
/* Heading 1 Text */    
h1 { 
	font-family: 'Denk One', sans-serif;
	font-size: 40px;
	text-shadow: 5px 5px 7px #111111;
}
/* Heading 2 Text */
h2 {
	font-family: 'Port Lligat Sans', sans-serif;
	font-weight: bold;
	text-shadow: 5px 5px 7px #111111;
}
/* Heading 3 Text */
h3 {
	font-family: 'Denk One', sans-serif;
	text-transform: uppercase;
	text-shadow: 5px 5px 7px #111111;
}

/* Paragraph Text */
p {
	font-family: 'Port Lligat Sans', sans-serif;
	line-height: 1.4em;
	letter-spacing: 0.05em;
}
/* List Text */
ul {
	font-family: 'Port Lligat Sans', sans-serif;
}
/* Address align */
address {
	text-align: right;
	font-style: bold;
}
/* Making first letter in starting paragraph larger */
p.summary:first-letter {
	font-size: 150%;
}
/* Links text setup for visited, active, hover and normal */
a:link {
	color: blue;
}
a:visited {
	color: #187FB8;
}
a:hover {
	color: #006112;

}
a:active {
	color: yellow;
}