/* CSS Style sheet for font formatting 8?
/* Heading 1 Text */
h1 { 
	text: 
}
/* Heading 2 Text */
h2 {
	text:
}
/* Body Text */
body {
	text:
}

/* Paragraph Text */
p {
	text:
}
/* List Text */
ul {
	text:
}