/* Heading color */
h1, h2{ 
	color: #1D2326;
	background-color: #76A6A6;
}
body {
	background-color: #D9D1C7;
}
/* Paragraph color */
p.summary{
	color: #1D2326;
	background-color: #ADA9A0;
}
p {
	background-color: #949088;
}

